@charset "utf-8";
@font-face
{
font-family: はれのそら明朝;
src: url('https://cdn.leafscape.be/Harenosora/harenosora_web.woff2')
     format("woff2");
}

*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


@media screen and (min-width:961px){
html{
    font-size:62.5%;
}

}

body{
    font-size:1.6em; /*デフォルトのfont-size*/
}

.wrapper{
	width:80%;
	margin:0 auto;
}


.container{
	margin:0 auto;
}



/*-------------------↓ここからtopロゴ↓-------------------*/

.header-logo{
	height:180px;
	background-image: url(illust/background_logo.png);
	background-size:90% 80%;
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
	background-repeat:no-repeat;
	display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

/*ここからkey*/
.key{
	margin: 0 auto;
	width: 80%;
}
.key img{
	width: 100%;
}

.fair{
	text-align: center;
}
.fair img{
	width: 12rem;
	margin-top:-7rem; 

}
.concept{
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
	padding: 10rem 0 ;

}



.c-left{
	width:50%;
	text-align: center;
	align-self: center;
	font-family: はれのそら明朝;
	display: flex;
	justify-content: center;

}

.c-leftmini h2{
	margin-bottom: 3rem;
	font-size: 3rem;
}

.c-leftmini p{
	line-height: 4rem;
	font-size: 1.7rem;
}

.c-right{
	width:50%;

}

.c-right img{
	width:90%;
}

.sub{
	width:80%;
	margin: 0 auto;
	position: relative;
}

.sub img{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.contents{
	width:45%;
	position: absolute;
	top:40%;
	left:60%;
	background-color: rgb(255,255,255,0.7);
}

.fair-btn img{
	width: 12rem;
}


.fair-btn{
	display: flex;
	justify-content: space-around;
	padding: 100px;

}




/*-------------------↓ここからフッター↓-------------------*/
footer{
	width:100%;
	height:5rem;
	line-height: 5rem;
	font-size: 1rem;
	text-align: center;
	background-color:#e0c8bc;
	font-family:  'Montserrat', sans-serif;
	font-style: bold;
	letter-spacing: 0.3rem;
}


@media screen and (max-width:960px){
    html{
        font-size: 45%;
    }
    

.footer{
  width:100%;
}




}




